/*
    #100f0e
    332f2c
    3f3936

    732c91
    da1884

    d8d3d0
 */

/* Editor */
#editor-wrapper {
    background-color: #332f2c;
}

/* Backgrounds */
#rightsidebar,
#mysettings,
#deckstables,
#jukebox,
#compendium,
#journal,
#imagedialog,
#textchat,
#textchat-input,
.searchbox,
.tabmenu {
    background-color: #100f0e !important;
}

/* Tables */
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #302d2a;
}

.folderroot .dd-content,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: none;
}

/* Primary text */
.no-touch .dd-content,
h1, h2, h3, h4, h5, p, i, b, small, label, span, div {
    color: #d8d3d0;
}

/* High-contrast text */
textarea,
code,
pre {
    color: whitesmoke;
    background-color: #3f3936;
    border: none;
}

/* Secondary, lighter text */
.switchtomarketplacelibrary,
.switchtouserlibrary,
.ui-widget-content a,
#rightsidebar small {
    color: rgb(170, 165, 160) !important;
}

/* Form input */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.btn {
    background-image: none;
    background-color: #732c91;
    border: 1px solid #732c91;
    color: whitesmoke !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    background-color: #da1884;
}

.btn:disabled {
    background-color: #332f2c;
}

button,
select,
input {
    border: 1px solid #3f3936;
    background-color: #3f3936;
    color: #d8d3d0;
}

.ui-slider {
    background: none;
    background-color: #3f3936;
    border: 1px solid #3f3936;
}

/* Misc Components */
#compendium .searchroot .dd-item .dd-content .sourcefooter {
    filter: invert(1);
}

#jukeboxwhatsplaying {
    border: 1px solid #332f2c;
    background-color: #332f2c;
}

.ui-tabs .ui-tabs-nav {
    border: none;
}

hr {
    border-color: #3f3936;
}

#textchat-input {
    border-top: none;
}