.r20es-settings-dialog {
    width: 50%;
    max-height: 90%;
}

.r20es-settings-dialog .more-settings ul > li {
    display: block;
    margin: 4px 0px 4px 0px
}

.r20es-settings-dialog input,
.r20es-settings-dialog .text {
    vertical-align: middle;
}

.r20es-settings-dialog input[type="checkbox"] {
    margin-right: 4px;
}

.r20es-settings-dialog .more-settings ul > li > select {
    height: auto;
}

.r20es-settings-dialog .more-settings ul > li > .compact {    
    float: right;
    padding: 0;
    margin: 0;
    
    width: 50%;
}

.r20es-settings-dialog .more-settings > hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.r20es-settings-dialog .more-settings > .description {
    margin-bottom: 30px;
}

.r20es-clickable-text:hover {
    background-color: rgb(245,245,245);
}

.r20es-settings-dialog .dialog-body {
    display: flex;
}

.dialog-body > .left {
    white-space: nowrap;
    flex: 0 2 100%;
}

.dialog-body > .right {
    flex: 1 0 50%;
}
