@import "./colors";
@import "./scssMixins";

.charsheet .sheet-charmancer .sheet-bottombar,
.charsheet .sheet-charmancer .sheet-steps,
.charsheet .sheet-charmancer .sheet-hilite,
.charsheet .sheet-charmancer.sheet-container .sheet-cancel-prompt {
    background-color: $bg900;
    color: $text900;
}

.attributesabilities .abil {
    border-bottom: none;
}

.charsheet .sheet-charmancer .sheet-bottombar,
.charsheet .sheet-charmancer .sheet-row {
    border: none;
}

.sheet-rolltemplate-atkdmg .sheet-damagetemplate .inlinerollresult.fullcrit,
.sheet-rolltemplate-atkdmg .sheet-damagetemplate .inlinerollresult.fullfail,
.sheet-rolltemplate-atkdmg .sheet-damagetemplate .inlinerollresult.importantroll,
.sheet-rolltemplate-dmg .sheet-damagetemplate .inlinerollresult.fullcrit,
.sheet-rolltemplate-dmg .sheet-damagetemplate .inlinerollresult.fullfail,
.sheet-rolltemplate-dmg .sheet-damagetemplate .inlinerollresult.importantroll,
.sheet-rolltemplate-npcaction .sheet-damagetemplate .inlinerollresult.fullcrit,
.sheet-rolltemplate-npcaction .sheet-damagetemplate .inlinerollresult.fullfail,
.sheet-rolltemplate-npcaction .sheet-damagetemplate .inlinerollresult.importantroll,
.sheet-rolltemplate-npcdmg .sheet-damagetemplate .inlinerollresult.fullcrit,
.sheet-rolltemplate-npcdmg .sheet-damagetemplate .inlinerollresult.fullfail,
.sheet-rolltemplate-npcdmg .sheet-damagetemplate .inlinerollresult.importantroll,
.sheet-rolltemplate-atkdmg .sheet-desc .inlinerollresult.fullcrit,
.sheet-rolltemplate-atkdmg .sheet-desc .inlinerollresult.importantroll,
.sheet-rolltemplate-atkdmg .sheet-desc .inlinerollresult.fullfail,
.sheet-rolltemplate-dmg .sheet-desc .inlinerollresult.fullcrit,
.sheet-rolltemplate-dmg .sheet-desc .inlinerollresult.importantroll,
.sheet-rolltemplate-dmg .sheet-desc .inlinerollresult.fullfail .sheet-rolltemplate-atk .sheet-desc .inlinerollresult.fullcrit,
.sheet-rolltemplate-atk .sheet-desc .inlinerollresult.importantroll,
.sheet-rolltemplate-atk .sheet-desc .inlinerollresult.fullfail,
.sheet-rolltemplate-mancerroll .inlinerollresult.fullcrit,
.sheet-rolltemplate-mancerroll .inlinerollresult.importantroll,
.sheet-rolltemplate-mancerroll .inlinerollresult.fullfail {
    color: $text900;
}

.sheet-rolltemplate-spell .sheet-title span {
    color: rgb(126, 45, 64);
}

.charsheet .sheet-advantagetoggle input.sheet-toggle-left, .charsheet .sheet-advantagetoggle input.sheet-toggle-left + span,
.charsheet .sheet-advantagetoggle input.sheet-toggle-right, .charsheet .sheet-advantagetoggle input.sheet-toggle-right + span,
.charsheet .sheet-advantagetoggle input.sheet-toggle-center, .charsheet .sheet-advantagetoggle input.sheet-toggle-center + span,
.charsheet .sheet-advantagetoggle.sheet-whispertoggle input.sheet-toggle-left, .charsheet .sheet-advantagetoggle.sheet-whispertoggle input.sheet-toggle-left + span {
    color: $textHighContrast;
}

.charsheet .sheet-attacks .sheet-display input,
.charsheet .sheet-tool .sheet-display input,
.charsheet .sheet-equipment .sheet-item input,
.charsheet .sheet-attacks .sheet-display span,
.charsheet .sheet-tool .sheet-display span,
.charsheet .sheet-equipment .sheet-item span,
.charsheet .sheet-proficiencies .sheet-display span,
.charsheet .sheet-coin,
.charsheet .sheet-attr-mod,
.charsheet .sheet-insp-prof-container .sheet-value {
    background-color: $bg700;
    color: $text900;
}

.charsheet .sheet-spell-level .sheet-total, .charsheet .sheet-spell-level .sheet-expended {
    background-color: $bg800;
    color: $text900;
}

.charsheet .sheet-level::after, .charsheet .sheet-level::before {
    border-left-color: $bg700;
}

.charsheet button[type="roll"]:hover,
.charsheet button[type="roll"]:hover *,
.charsheet .sheet-spell button[type="roll"]:hover input[type="text"],
.charsheet .sheet-action .sheet-display button[type="roll"]:hover * {
    color: #EC2127 !important;
}

.charsheet .sheet-attr-container button[type="roll"],
.charsheet .sheet-saving-throw button[type="roll"],
.charsheet .sheet-skill button[type="roll"],
.charsheet .sheet-ac-init-speed-container button[type="roll"],
.charsheet .sheet-subcontainer button[type="roll"],
.charsheet .sheet-npc button[type="roll"],
.charsheet .sheet-insp-prof-container .sheet-value input,
.charsheet .sheet-saving-throw input[type="text"],
.charsheet .sheet-skill input[type="text"],
.charsheet .sheet-ac-init-speed-container input,
.charsheet .sheet-hp input,
.charsheet .sheet-exhaustion input,
.charsheet .sheet-hdice-dsaves-container input[type="text"],
.charsheet .sheet-hdice-dsaves-container input[type="number"],
.charsheet .sheet-attacks input,
.charsheet .sheet-equipment input,
.charsheet .sheet-tool input,
.charsheet .sheet-proficiencies input,
.charsheet .sheet-pc .sheet-traits input,
.charsheet .sheet-spell input,
.charsheet .sheet-options .sheet-body input,
.charsheet .sheet-resources input[type="number"],
.charsheet .sheet-spell .sheet-display span.sheet-spellname{
    color: $textHighContrast;
}

.charsheet .repcontrol .repcontrol_edit:hover::after,
.charsheet .repcontrol .repcontrol_add:hover::before {
    background-color: $brand800;
}

.charsheet .repcontrol .repcontrol_edit::after,
.charsheet .repcontrol .repcontrol_add::before {
    background-color: $brand900;
}

.charsheet .repcontrol .btn {
    color: $bg900 !important;
    text-shadow: none;
}

.charsheet .sheet-attacks .sheet-attack:hover .sheet-options-flag + span,
.charsheet .sheet-spell:hover .sheet-options-flag + span,
.charsheet .sheet-tool:hover .sheet-options-flag + span,
.charsheet .sheet-npc:hover > .sheet-npc_options-flag + span,
.charsheet .sheet-trait:hover .sheet-options-flag + span,
.charsheet .sheet-global-mod:hover .sheet-options-flag + span,
.charsheet .sheet-action:hover .sheet-npc_options-flag + span,
.charsheet .sheet-textbox:hover > .sheet-options-flag + span,
.charsheet .sheet-proficiency:hover .sheet-options-flag + span,
.charsheet .sheet-item:hover .sheet-inventorysubflag + span,
.charsheet .sheet-pc .sheet-trait:hover .sheet-output,
.charsheet .sheet-pc .sheet-header:hover .sheet-options-flag + span {
    color: $textHighContrast;
}

.charsheet .sheet-spell {
    .sheet-display button[type="roll"] {
        border-bottom: none;
    }
    .sheet-prep {
        background-color: $brand800;
    }
}

.charsheet input[type="radio"].sheet-tab-button + span {
    background-color: $brand900;
    color: $textHighContrast;
}

.charsheet .sheet-advantagetoggle input[type="radio"]:checked + span,
.charsheet input[type="radio"].sheet-tab-button:checked + span {
    background-color: $brand700;
    color: $textHighContrast;
}

.charsheet .sheet-options .sheet-row > span {
    color: $text900;
}

.sheet-rolltemplate-spell .sheet-container {
    background: none;
    background-color: $bg600;
}

.charsheet .sheet-charmancer button[type="back"]:disabled:not(.sheet-here) {
    background-color: $bg700;
}

.charsheet {
    input, button {
        color: $textHighContrast;
    }

}

.charsheet .sheet-container,
.sheet-footer,
.sheet-page {
    background-color: $bg900;
}

.charsheet .sheet-footer {
    margin-top: 0;
}

.charsheet .sheet-hp .sheet-top input,
.charsheet .sheet-hdice-dsaves-container .sheet-top input[type="text"],
.charsheet .sheet-header input,
.charsheet .sheet-header select {
    border-bottom-color:  $bg400;
    color: $text900;
}

.abilities .body .rollabil {
    color: $textHighContrast
}

.sheet-container {
    @include paper-shadow($bg900);
}

.sheet-rolltemplate-dmg .sheet-container,
.sheet-rolltemplate-atkdmg .sheet-container.sheet-damagetemplate,
.sheet-rolltemplate-atk .sheet-desc,
.sheet-rolltemplate-atkdmg .sheet-desc,
.sheet-rolltemplate-dmg .sheet-desc,
.sheet-rolltemplate-desc .sheet-desc,
.sheet-rolltemplate-atk .sheet-container,
.sheet-rolltemplate-atkdmg .sheet-container.sheet-atk,
.sheet-rolltemplate-dmg .sheet-atk {
    background-color: $bg600;
    border: none;
}

.sheet-rolltemplate-npc,
.sheet-rolltemplate-npcaction .sheet-container,
.sheet-rolltemplate-npcatk,
.sheet-rolltemplate-npcdmg,
.sheet-rolltemplate-traits {
    background-color: $bg600;
    border: none;
    padding: 12px;

    span {
        color: $textHighContrast;
    }
}

.sheet-rolltemplate-simple .sheet-adv span,
.sheet-rolltemplate-simple .sheet-solo span,
.sheet-rolltemplate-atk .sheet-adv span,
.sheet-rolltemplate-atk .sheet-solo span,
.sheet-rolltemplate-atkdmg .sheet-adv span,
.sheet-rolltemplate-atkdmg .sheet-solo span,
.sheet-rolltemplate-dmg .sheet-adv span,
.sheet-rolltemplate-dmg .sheet-solo span {
    background-color: $bg500;
    padding: 4px;
}

.sheet-rolltemplate-atkdmg .sheet-damagetemplate .sheet-sublabel,
.sheet-rolltemplate-dmg .sheet-damagetemplate .sheet-sublabel,
.sheet-rolltemplate-atkdmg .sheet-desc .sheet-sublabel,
.sheet-rolltemplate-dmg .sheet-desc .sheet-sublabel {
    background-color: unset;
    padding: unset;
}

.sheet-rolltemplate-atk .sheet-sublabel span,
.sheet-rolltemplate-atkdmg .sheet-sublabel span,
.sheet-rolltemplate-dmg .sheet-sublabel span, .charsheet {
    color: $text900;
}

.sheet-rolltemplate-simple .sheet-container {
    background-color: $bg600;
    border: none;
}

.charsheet .sheet-tool .sheet-options select,
.charsheet .sheet-attack .sheet-options select,
.charsheet .sheet-spell .sheet-options select,
.charsheet .sheet-options .sheet-body select,
.charsheet .sheet-proficiencies .sheet-options select,
.charsheet .sheet-traits .sheet-options select {
    color: $text900;
}

.textchatcontainer {
    .inlinerollresult {
        background-color: $bg400;
        color: $textHighContrast;
        border: none;
        @include paper-shadow($bg800);
    }
}

.sheet-rolltemplate-mancerroll .sheet-container {
    background-color: $bg600;
    border: none;
    padding: 8px;
}

.sheet-rolltemplate-mancerroll .sheet-row.sheet-header .inlinerollresult {
    padding: 2px;
}
