@import "./colors";


#textchat {
    .userscript-sharelink {
        background-color: $bg400;
    }

    .userscript-sharelink a {
        background-color: $bg400 !important;
        color: $bg400 !important;
    }

    .userscript-sharelink:hover a {
        color: $textHighContrast !important;
        background-color: $bg900 !important;
    }
}

#textchat,
#textchat-input {
    background-color: $bg900;
}.sheet-rolltemplate-atk .sheet-desc .inlinerollresult.fullfail,
.sheet-rolltemplate-mancerroll .inlinerollresult.fullcrit,
.sheet-rolltemplate-mancerroll .inlinerollresult.importantroll,
.sheet-rolltemplate-mancerroll .inlinerollresult.fullfail {
    color: $text900;
}
