$bg900: #0d0e0f;
$bg800: #191b1e;
$bg700: #23252b;
$bg600: #292a35;
$bg500: #313242;
$bg400: #464770;

$brand900: #022947;
$brand800: #013160;
$brand700: #082891;

$text900: #87817d;
$text800: #7f7874;
$text700: #68625d;
$textHighContrast: #d8d3d0;
