$bg900: #0d0e0f;
$bg800: #191b1e;
$bg700: #23252b;
$bg600: #292a35;
$bg500: #313242;
$bg400: #464770;

$brand900: #001f54;
$brand800: #034078;
$brand700: #1282a2;

$text900: #bab7b6;
$text800: #a39b97;
$text700: #7a7775;
$textHighContrast: #e2e1e0;
