@import "./colors";
@import "./scssMixins";

#secondary-toolbar,
.btn-group > .btn,
button, select, input[type="text"],
.sheet-container,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.textchatcontainer a[href^="!"],
.textchatcontainer a[href^="~"] {
    @include paper-shadow($bg900);
}

.ui-slider {
    background: none;
    background-color: $bg700;
    border: 1px solid $bg700;
}

//
//  ACTIVE BUTTONS
//
.ui-widget-content a.btn:active,
.ui-widget-content a.btn.active,
.charsheet .sheet-charmancer button.sheet-step.sheet-here,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus,
.btn:active,
.nav-tabs > li.active > a:focus,
.btn.active,
.btn.btn-default:active,
.btn.btn-default.active,
.btn-group > .btn:active,
.note-editor .btn-default.active,
.note-editor .btn-group > .btn.active {
  background-color: $brand700;
  border: 1px solid $brand700;
  color: $textHighContrast;
}

//
// HOVER BUTTONS
//

.nav > li > a:hover,
.ui-widget-content a.btn:hover,
.ui-widget-content a.btn.hover,
.charsheet .sheet-charmancer button:hover.sheet-warning,
.charsheet .sheet-charmancer button:hover,
.charsheet .sheet-charmancer button:hover.sheet-exit,
.charsheet .sheet-charmancer button:hover.sheet-step,
.charsheet .sheet-charmancer button:hover.sheet-step.sheet-done,
.charsheet .sheet-charmancer button[type="roll"]:hover,
.charsheet .sheet-charmancer button[type="roll"]:hover *,
s,
.nav-tabs > li.active > a:hover,
.no-touch .textchatcontainer a[href^="!"]:hover,
.textchatcontainer a[href^="~"]:hover,
.btn:hover,
.btn.btn-default:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  background-color: $brand800;
  border: 1px solid $brand800;
  color: $textHighContrast;
}

//
// IDLE BUTTONS
//

.ui-widget-content a.btn,
.nav-tabs > li.active > a,
.charsheet .sheet-charmancer button,
.charsheet .sheet-charmancer button[type="roll"],
.charsheet .sheet-charmancer button.sheet-warning,
.charsheet .sheet-charmancer button.sheet-step.sheet-next,
.charsheet .sheet-charmancer button.sheet-step.sheet-prev,
.charsheet .sheet-charmancer button.sheet-step.sheet-done,
.charsheet .sheet-charmancer button.sheet-step:not(.sheet-here),
.charsheet .sheet-charmancer button.sheet-exit,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.textchatcontainer a[href^="!"],
.textchatcontainer a[href^="~"],
.btn-group > .btn,
.button,
.ui-dialog .ui-dialog-buttonpane button,
.btn {
  background-image: none;
  background-color: $brand900;
  border: 1px solid $bg900;
  color: $textHighContrast;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  background-color: #375a7f;
  border-color: #375a7f;
}

.btn-info {
  background-color: #3780a8;
  border-color: #3780a8;
}

.btn-danger {
  background-color: #8f2220;
  border-color: #8f2220;
}

.btn-success {
  background-color: #00bc8c;
  border-color: #00bc8c;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  border: none;
  background-color: $bg800;
}

.btn:disabled {
  background-color: $bg700;
}

.nav-tabs {
    border-bottom: none;

    & > li {
        a {
            color: $textHighContrast;
        }

        .active > a,
        .active > a:hover,
        .active > a:focus {
            background-color: $brand700;
            border: 1px solid $brand700;
        }
    }
}

div#color_selector {
    background-color: $bg700;
}

.textboxlist,
.textboxlist-bits,
button,
select,
input,
input[type="text"] {
    background-image: none;
    background-color: $bg700;
    color: $text900;
}

.textboxlist,
.textboxlist-bits,
button,
select,
input,
input[type="text"] {
    border: 1px solid $bg700;
}

.tokenizer {
    border: none;
}

.dropbox {
    border-color: $bg800;
}

.tableitemeditor .avatar {
    background-color: $bg800;
}
