@import "./colors";

.r20es-dialog > .dialog-footer,
.dialog-footer > .dialog-footer-content,
.r20es-welcome {
    background-color: $bg900;
}

.r20es-dialog {

    background-color: $bg900;

    tr:nth-child(2n),
    .table-head {
        background-color: $bg800;
    }

    tr {
        background-color: $bg700;
    }

    .r20es-clickable-text {
        &.selected {
            background-color: $brand800;
        }

        &.disabled span {
            color: $text700;
        }

        &:hover {
            background-color: $brand900;
        }
    }

}

