@import "./inputAndWidgets";
@import "./colors";
@import "./chat";
@import "./tables";
@import "./editor";
@import "./dialog";
@import "./sidebar";
@import "./internalOverrides";
@import "./complexDialogs";


dialog {
  background-color: $bg900
}

h1, h2, h3, h4, h5, p, i, b, small, label, span, div {
  color: $text900;
}

textarea,
code,
pre {
  color: $textHighContrast;
  background-color: $bg800;
  border: none;
}


hr {
  border-color: $bg800;
}

.panel,
.panel-default {
  border-radius: 0;
  background-color: $bg900;
}

.textboxlist-bit-box {
  border-radius: 0;
  background: $brand900;
  border: $bg900;
}

.textboxlist-bit-editable-input,
.textboxlist-bit-editable {
  background-color: $brand800;
  border-color: $brand800;
}

.textboxlist-autocomplete-result,
.textboxlist-autocomplete-placeholder,
.textboxlist-autocomplete-results {
  box-shadow: none;
  border: none;
  background-color: $bg700;
  color: $text900;
}

.textboxlist-autocomplete-highlight {
  background-color: $brand900;
}

.github-logo,
.discord-logo {
  filter: invert(1)
}

div#color_custom label {
  color: $text900;
}
