@import "./colors";

.table {
    & > thead > tr > th,
    & > tbody > tr > th,
    & > tfoot > tr > th,
    & > thead > tr > td,
    & > tbody > tr > td,
    & > tfoot > tr > td {
        border-top: none;
    }
    & > thead > tr > th {
        border-bottom: none;
    }
}



.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: $bg800;
}

table.config-table tbody tr:nth-child(2n+1) {
    background-color: $bg800;
}

.tool-row:nth-child(2n+1) {
    background-color: $bg800;
}
