{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "firefox": 61
                }
            }
        ],
        "stage-2",
        "react"
    ],

    "plugins": [
        ["transform-react-jsx", {
          "pragma": "createElementJsx"
        }]
      ]
}