{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "firefox": 61
                }
            }
        ],
        "stage-2"
    ],

    "plugins": [
        ["transform-react-jsx", { "pragma": "createElementJsx"}],
        "transform-class-properties"
      ]
}
