# Ignore build artifacts and other files.
node_modules
src/static/js
selenium-server-standalone-3.9.1.jar
tests_output/
dist/zip/
selenium-debug.log
selenium-server.log
builds/
dist/
r20es_*_source.zip
pagerender/
git_data.json
.env
deploy_data.json
.idea
official/
5etools
pagerender_old
pagerender_old_2
