.page-body {
    display: flex;
}

.navbar {
    margin-bottom: 32px;
}

.page-body .left {
    width: 50%;
}

.page-body .right {
    width: 50%;
}

h4 {
    margin-top: 16px;
}
.container {
    margin-bottom: 16px;
}

