.column-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3em;
}

.main-content {
    min-height: 100vh;
}

.browser-icons {
    margin: auto;
    margin-top: 48px;
    margin-bottom: 32px;

    display: flex;
    vertical-align: center;
    justify-content: center;
}

.browser-icons .background{
    background: rgb(6, 26, 45);
    border-radius: 32px;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
}

.text-bg {
    text-align: center;
    flex: 2 0 0;
}

.logo {
    flex: 1 0 0;
    
    background-image: linear-gradient( rgb(6, 26, 45) 60%, whitesmoke 60%);
    padding-top: 1%;
    margin-bottom: 1%;
    width: 100%;    
    min-height: 200px;
}

.logo img {
    height: 100%;
}

.invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.navbar {
    flex-shrink: 1;
    background-color: unset;
}

.navbar-light .navbar-nav .nav-link {
    color: unset;
}

.browser-icons img {
    margin: 0 8px 0 8px;
    min-width: 64px;
}
